<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,32}</string>
                <key>spriteSourceSize</key>
                <string>{23,32}</string>
                <key>textureRect</key>
                <string>{{21,0},{23,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{44,0},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,33}</string>
                <key>spriteSourceSize</key>
                <string>{24,33}</string>
                <key>textureRect</key>
                <string>{{67,0},{24,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{0,33},{21,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_run_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{21,33},{21,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_run_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{42,33},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_run_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,29}</string>
                <key>spriteSourceSize</key>
                <string>{21,29}</string>
                <key>textureRect</key>
                <string>{{65,33},{21,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy1_run.png</string>
            <key>size</key>
            <string>{91,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d4591226be835a428234da95f8f2719:4510f71ae0f1097d0e026e5ad8ca8751:67b720e9eef5b980357d57cb9c112beb$</string>
            <key>textureFileName</key>
            <string>enemy1_run.png</string>
        </dict>
    </dict>
</plist>
