<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ground_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,24}</string>
                <key>spriteSourceSize</key>
                <string>{7,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{7,0},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pip_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,43}</string>
                <key>spriteSourceSize</key>
                <string>{32,43}</string>
                <key>textureRect</key>
                <string>{{55,0},{32,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,71}</string>
                <key>spriteSourceSize</key>
                <string>{39,71}</string>
                <key>textureRect</key>
                <string>{{87,0},{39,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,83}</string>
                <key>spriteSourceSize</key>
                <string>{57,83}</string>
                <key>textureRect</key>
                <string>{{126,0},{57,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,81}</string>
                <key>spriteSourceSize</key>
                <string>{130,81}</string>
                <key>textureRect</key>
                <string>{{183,0},{130,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>background.png</string>
            <key>size</key>
            <string>{313,83}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce43db1fa979084e815d4e48b12379a6:66028b061821fc97b6c769e8c23aebb0:0efa5fec0be417390841f237bfdb917e$</string>
            <key>textureFileName</key>
            <string>background.png</string>
        </dict>
    </dict>
</plist>
